.my-date-picker .MuiPickersDay-root.Mui-selected {
    border-radius: 0;
}

.my-date-picker  .MuiPickersDay-today {
    border-radius: 0;
}

.my-date-picker .MuiPickersCalendarHeader-label {
    font-size: 20px;
    font-weight: bold;
}

.my-date-picker .MuiDayPicker-weekDayLabel {
    font-weight: normal;   
    font-size: 16px;
}

